<h1>Registers</h1>


<% @registers.each do |register| %>
  <h2><%= link_to register.name, register_path(register.code) %></h2>

  <p><%= pluralize(register.records.count, 'record') %></p>

  <% first_entry = register.entries.order('timestamp').reverse_order.first %>
  <% if first_entry %>
    <p>Last updated: <%= first_entry.timestamp.to_s(:long) %></p>
  <% end %>
  </li>
<% end %>
