<h1>Registers</h1>


<% @registers.each do |register| %>
  <h2><%= link_to register.name, register_path(register.code) %></h2>

  <p><%= pluralize(register.records.count, 'record') %></p>

  <% if register.last_updated_at %>
    <p>Last updated: <%= register.last_updated_at.to_s(:long) %></p>
  <% end %>
<% end %>
