<ul>
  <% entry.changed_fields.each do |field| %>
    <li><%= field[:key] %> changed from
      <del><%= linked_field(field[:previous]) %></del> to
      <ins><%= linked_field(entry.values[field[:key]]) %></ins>
    </li>
  <% end %>
</ul>