<!DOCTYPE html>
<html>
  <head>
    <title>RegisterUpdates</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <header role="banner">
      <div class="content">
        <%= link_to 'Register updates', root_path, class: 'site-name' %>
      </div>
    </header>
    <main class="content">
      <%= yield %>
    </main>
  </body>
</html>
